.textarea {
    border: 4px lightgray;
    height: 50%;
    width: 50%;

}

.form-group {
  border: 5px lightgray;
  width: 650px;
  height: 700px;
  padding: 2px;
  left-margin: 0px;
}

.carousel-item{
height: 350px;
max-width: 100%;
max-height: 100vh;
}

.bs-example{
margin: 20px;
}
.carousel{
margin-top: 0px;
}




.divcss{
height: auto;
border: 1px solid gray;
width: 700px;

}


