{% load custom_tags %}
{% jobs_obj as jobs %}
{% technology_obj as technology %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="/static/css/detail.css" rel="stylesheet">
<table id="result_list">
    <thead>
    <tr>

        <th scope="col"  class="sortable column-id">
            <div class="text"><a href="?o=1">title</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col"  class="sortable column-quantity">
            <div class="text"><a href="?o=3">technology</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col"  class="sortable column-user_id">
            <div class="text"><a href="?o=2"> city</a></div>
            <div class="clear"></div>
        </th>

        <th scope="col"  class="sortable column-quantity">
            <div class="text"><a href="?o=3">apply_by</a></div>
            <div class="clear"></div>
        </th>

    </tr>
    </thead>
    <tbody>
    {% for jobs_data_all in jobs %}
    <tr class="row1">

<!--        <td class="field-user_id nowrap" >{{ jobs_data_all.job_id }}</td>-->

        <td class="field-user_id nowrap" ><a href="/jobs/description/{{ jobs_data_all.job_id }}/">{{ jobs_data_all.title }}</a></td>
        <td class="field-user_id nowrap" >{{ jobs_data_all.technology }}</td>
        <td class="field-user_id nowrap" >{{ jobs_data_all.city }}</td>
        <td class="field-user_id nowrap" >{{ jobs_data_all.apply_by }}</td>
        <td>

    </tr>
    {% endfor %}

    </tbody>
    </table>
