<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs</title>
</head>
<body>
<form method="POST" class="post-form" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }}

<!--    <p>{{ form.non_field_errors }}</p>-->
<!--&lt;!&ndash;    <label>Remark : {{ form.remark }}</label>&ndash;&gt;-->
<!--    <label>job_name: {{form.job_name}}</label><br><br>-->
<!--    <label>job_description: {{ form.job_description }}</label><br><br>-->
<!--    <label>tag: {{ form.tag }}</label><br><br>-->
<!--    <label>min_exp: {{ form.min_exp }}</label><br><br>-->
<!--    <label>max_exp: {{ form.max_exp }}</label><br><br>-->
<!--    <label>active: {{ form.active }}</label><br><br>-->
<!--    <label>start_date: {{ form.start_date }}</label><br><br>-->
<!--    <label>end_date: {{ form.end_date }}</label><br><br>-->
<!--    <label>skill: {{ form.skill }}</label><br><br>-->

    <button type="submit"  class="save btn btn-default">Save</button>
</form>
</body>
</html>