<link href="/static/css/subscribe.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container">


</div>
<section class="bg-dark text-center p-5 mt-4">
    <div class="container p-3">
        <h3 class="text-white">SUBSCRIBE NOW</h3>
        <form action="#" method="Post">
            <input type="text" name="text" placeholder="Enter Your Email Id" >
            <br><input type="text" name="text" placeholder="Enter Your Name">
            <br><button type="button" onclick="location.href='/jobs/detail/'"  class="btn btn-default">Subscribe<i class="fa fa-envelope"></i></button>
        </form>
    </div>
</section>
